<div class="layout-holder__content__body flex flex-center flex-middle">
  <div class="action-status">
      <div class="action-status__img">
          <img src="../../assets/images/illustration/success.svg" class="img-fluid" alt="success">
      </div>
      <div class="action-status__info m-t-32 m-b-32">
          <h3 class="action-status__info__title">Sorğunuz uğurla tamamlandı.</h3>
      </div>
      <a routerLink='/form' class="btn btn-fluid btn-primary">ANA SƏHİFƏ</a>
  </div>
</div>
<div class="layout-holder__content__footer">
  <span class="layout-holder__content__footer__copyright">2020 &copy; YAŞAT fondunun rəsmi internet
      saytı. Müəllif hüquqları qorunur.</span>
</div>
